<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">JWT Auth Demo</h1>
      <p>This demo shows local and linkedIn user registration and login flow using Angular 6, ASP.NET Core 2.1 WebApi and LinkedIn API</p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/register">Signup with email</a>
        <a style="margin-left: 5px;" class="btn btn-primary btn-lg" href="#" role="button" routerLink="/login">Login with email</a>
        <a style="margin-left: 5px;" class="btn btn-primary btn-lg" href="#" role="button" routerLink="/linkedin-login">Signup/login with LinkedIn</a>
      </p>       
    </div>
  </div>
</main>